.machine-container{
    margin-top: 10%;
    margin-bottom: 2%;
}
.boxRight{
    background-image:url("/../assets/images/concentratorM.jpg") !important;
}
.boxLeft{
    background-image:url("/../assets/images/concentratorF.jpg") !important;
}
.row{
    height: 600px;
}