<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


            <!-- member -->
            <div class="col-md-6">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card" style="width: 19rem;">
                                <div class="card-body text-center mt-2">
                                    <p><img class=" img-fluid" src="../../assets/images/medecin.jpg" alt="card image"></p>
                                    <h4 class="card-title">{{medecin.fullName}}</h4>
                                    <p class="card-text">Specialité: {{medecin.speciality}}</p>
                                    <p class="card-text">Sexe: {{medecin.gender}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card" style="width: 19rem;">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="margin-top:-30px;">Informations de contact</h4>
                                    <p class="card-text">Num Téléphone: {{medecin.phoneNumber}}</p>
                                    <p class="card-text">Email: {{medecin.email}}</p>
                                    <p class="card-text" *ngIf="medecin.cnamConvention == true else elseBlock">Medecin conventionné avec la CNAM</p>
                                    <ng-template #elseBlock>
                                        <div class="alternative">
                                          <p class="card-text"> Medecin n'est pas conventionné avec la CNAM </p>
                                        </div>
                                     </ng-template>
                                    <p class="card-text">Adresse: {{medecin.address}}</p>
                                    <button type="submit" class="btn btn-primary btn-sm, fa fa-trash" style="margin-right: 10px;" (click)="deleteMedecin(medecin.id)"></button>
                                    <button type="submit" class="btn btn-primary btn-sm, fa fa-edit"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./member -->
