<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Historique des réservations" [button]="cancelButton" [options]="false" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table" *ngIf="!noData">
            <thead>
            <tr>
              <th>Machine ID</th>
              <th>User name</th>
              <th>User email</th>
              <th>Date début</th>
              <th>Date fin</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of listeReservations">
              <td>{{reservation.id_machine}}</td>
              <td>{{reservation.user}}</td>
              <td>{{reservation.userEmail}}</td>
              <td>{{reservation.dateFrom}}</td>
              <td>{{reservation.dateTo}}</td>

              <!-- <td> 
                 <span class="action edit-action" routerLink="/dashboard/users/{{agent.id}}/edit/laboratoire"><i
                  class="fas fa-edit"></i></span>
                <span class="action delete-action" (click)="delete(agent.id)"><i class="far fa-trash-alt"></i></span> 
              </td> -->
            </tr>
            </tbody>
          </table>
          <span *ngIf="noData">Cette machine n'a pas été réservée</span>
        </div>
      </app-card>
    </div>
  </div>
  