<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Ajouter une machine" [button]="cancelButton" >
  <form #machineForm="ngForm" (ngSubmit)="save()" >
    <div style="position: absolute; top:200px; left:20%; width:60%;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDate">Date d'achat</label>
              <input #date="ngModel" [(ngModel)]="creationDate" [ngClass]="{ 'is-invalid': date.invalid && date.touched }"  name="date"  type="date" class="form-control" id="inputDate" required placeholder="Date d'achat" placeholder="Date d'achat">
                <div  class="invalid-feedback" *ngIf="date.invalid && date.touched">
                    <div *ngIf="date.errors.required"> Ce champ est obligatoire !</div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="inputFrequence">Fréquence</label>
                <input #frequence="ngModel" name="frequence" [ngClass]="{ 'is-invalid': frequence.invalid && frequence.touched }" [(ngModel)]="machineInput.frequency" required type="number" class="form-control" id="inputFrequence" placeholder="Fréquence" >
                <div  class="invalid-feedback" *ngIf="frequence.invalid && frequence.touched">
                    <div *ngIf="frequence.errors.required"> Ce champ est obligatoire !</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDebit">Débit</label>
                <input #debit="ngModel" [(ngModel)]="machineInput.debit" [ngClass]="{ 'is-invalid': debit.invalid && debit.touched }"  name="debit" type="number" class="form-control" id="inputDebit" required placeholder="Débit"
                        >
                <div  class="invalid-feedback" *ngIf="debit.invalid && debit.touched">
                    <div *ngIf="debit.errors.required"> Ce champ est obligatoire !</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAlimentaion">Alimentaion</label>
                <input #alimentation="ngModel" name="alimentation" [ngClass]="{ 'is-invalid': alimentation.invalid && alimentation.touched }" [(ngModel)]="machineInput.alimentation"  type="number" class="form-control" id="inputAlimentaion" required placeholder="Alimentaion"
                      >
                <div  class="invalid-feedback" *ngIf="alimentation.invalid && alimentation.touched">
                    <div *ngIf="alimentation.errors.required"> Ce champ est obligatoire !</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSaturation">Saturation</label>
                <input #saturation="ngModel" [(ngModel)]="machineInput.saturation"  name="saturation" [ngClass]="{ 'is-invalid': saturation.invalid && saturation.touched }" type="number" class="form-control" id="inputSaturation" required  placeholder="Saturation"
                       >
                    <div  *ngIf="saturation.invalid && saturation.touched"  class="invalid-feedback">
                        <div *ngIf="saturation.errors.required"> Ce champ est obligatoire !</div>
                    </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPoids">Poids</label>
                <input #poids="ngModel" [(ngModel)]="machineInput.weight" name="poids" [ngClass]="{ 'is-invalid': poids.invalid && poids.touched }" type="number" class="form-control" id="inputPoids" required  placeholder="Poids en (Kg)"
                      >
                    <div  class="invalid-feedback" *ngIf="poids.invalid && poids.touched">
                        <div *ngIf="poids.errors.required"> Ce champ est obligatoire !</div>
                    </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 32px; margin-top: 16px;"  [disabled]="machineForm.invalid"
        ><i class="fas fa-save"></i>Enregistrer</button>
        <!-- <button routerLink="/listeMachine" class="btn btn-primary"
            style="margin-bottom: 32px; margin-left:10px; margin-top: 16px;"> <i
                class="fas fa-undo"></i>Annuler</button> -->
    </div>

</form>
      </app-card>
    </div>
</div>