<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Pharmacie" [button]="buttonAdd" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table" *ngIf="pharmacies.length > 0">
          <thead>
          <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pharmacie of pharmacies">
            <th scope="row">{{pharmacie.id}}</th>
            <td>{{pharmacie.description}}</td>
            <td>{{pharmacie.gouvernement}}</td>
            <td>{{pharmacie.horaire}}</td>
            <td>
              <span class="action edit-action" routerLink="/dashboard/users/{{pharmacie.id}}/edit/laboratoire"><i
                class="fas fa-edit"></i></span>
              <span class="action delete-action" (click)="delete(pharmacie.id)"><i class="far fa-trash-alt"></i></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="pharmacies.length === 0" class="text-center">
          <i class="fas fa-exclamation-circle"></i>
          Aucun pharmacie n'est trouvé.
        </div>
      </div>
    </app-card>
  </div>
</div>
