<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center" >
                            <div class="mt-3">
                                <h4>{{currentLabo?.name}}</h4>
                                <p class="text-secondary mb-1">{{currentLabo?.gouvernorat}}</p>
                                <!--p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p-->
                                <button style="    margin-right: 14px;" (click)="confirm($event)"class="btn btn-primary">Supprimer</button>
                                <button style="width: 98px;"class="btn btn-outline-primary" (click)="showDialog()">Evaluer</button>
                                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                            </div>
                            <p-dialog [maximizable]="true" header="Evaluation du laboratoire {{currentLabo?.name}}" [(visible)]="display">
                                <!--template pTemplate="header">
                                    Header content here
                                </ng-template-->
                 
                                <app-rating-laboratoire></app-rating-laboratoire>
                            </p-dialog>
                        </div>
                        <hr class="my-4">
                      <div>
                        <div class="d-flex justify-content-center">
                            <div class="contentRating text-center">
                                <div class="ratings"> <span class="product-rating">4.6</span><span>/5</span>
                                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                    <div class="rating-text"> <span>46 ratings & 15 reviews</span> </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="laboratoireForm">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom du laboratoire</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'name'" name="name"
                                >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse mail</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="mail" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'mail'" name="mail"
                                >                          
                              </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="phone" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'tel'" name="tel"
                                >
                                                        </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fax</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'fax'" name="fax"
                                >                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Addresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'address'" name="address"
                                >
                                                        </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0"> Date de modification</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [attr.disabled]="disabled == true ? true : null" [formControlName]="'updateDate'" name="updateDate"
                                >
                                                        </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Working time</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select class="form-control" [formControlName]="'workingTime'" [attr.disabled]="disabled == true ? true : null">
                                    <option *ngFor="let option of workingTimes" [ngValue]="state">
                                      {{ option.name }}
                                    </option>
                                  </select>
                                                        </div>
                        </div>
                        <div class="row" *ngIf="showModifyButton">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Modifier">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">Project Status</h5>
                             
                              <app-laboratoire-map [laboratoire]="currentLabo"></app-laboratoire-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>