<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Liste Machines" [button]="addButton" [options]="false"  blockClass="table-border-style">
        <!-- <div style="float:right; margin-right: 15px; margin-top: 2px;">
            <img src="../../assets/images/concentratorF.jpg" alt="..." style="width: 180px; height: 180px">
          </div> -->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDate">Date d'achat </label>
              <input #date type="date" class="form-control" id="inputDate" placeholder="Nom et Prénom"  [(ngModel)]="filter.date" (ngModelChange)="loadFilter()" placeholder="Date d'achat">
            </div>
            <div class="form-group col-md-6">
              <label for="inputFrequence">Fréquence</label>
              <input #frequence type="email" class="form-control" id="inputFrequence" [(ngModel)]="filter.frequence" (ngModelChange)="loadFilter()" placeholder="Fréquence">
            </div>
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDebit">Débit</label>
              <input #debit type="text" class="form-control" id="inputDebit" [(ngModel)]="filter.debit" (ngModelChange)="loadFilter()"  placeholder="Débit"
                     pattern="[0-9]{8}" >
            </div>
            <div class="form-group col-md-6">
                <label for="inputAlimentaion">Alimentaion</label>
                <input #alimentation type="text" class="form-control" id="inputAlimentaion" [(ngModel)]="filter.alimentation" (ngModelChange)="loadFilter()"  placeholder="Alimentaion"
                       pattern="[0-9]{8}" >
            </div>
          </div>
          <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="inputSaturation">Saturation</label>
                <input #saturation type="text" class="form-control" id="inputSaturation" [(ngModel)]="filter.saturation" (ngModelChange)="loadFilter()"  placeholder="Saturation"
                       pattern="[0-9]{8}" >
            </div>
            <div class="form-group col-md-6">
              <button *ngIf="adminRoleOn==true" (click)="showStat()"  class="btn btn-primary"  style="margin-left: 16px; margin-top: 27px; float: left; width: 250px;"><i class="fas fa-chart-pie"></i>Afficher les statistiques</button>
                <!-- <button routerLink="" class="btn btn-primary" routerLink="/addMachine"
                style="margin-left: 16px; margin-top: 27px; float: right; width: 250px;"> <i class="fas fa-user-plus"></i>Ajouter Machine
        </button> -->
        <button *ngIf="!showingMyMachines" class="btn btn-primary" (click)="showMyMachines()"
        style="margin-left: 16px; margin-top: 27px; float: right; width: 250px;"> <i class="fas fa-star"></i>Mes Machines
</button>
<button *ngIf="showingMyMachines" class="btn btn-primary" (click)="getMachines()"
        style="margin-left: 16px; margin-top: 27px; float: right; width: 250px;"> <i class="fas fa-star"></i>Toutes Machines
</button>
            </div>
          </div>

          <br>
        
          
          <br>

          <section id="listeMachine" class="pb-5" class="album py-5 bg-light">
            <div class="container">
              <h5 class="section-title h4">Liste des machines</h5>
              <div class="row">
                <div *ngIf="displayedList && displayedList.length>0 " style="width: 100%;">
                    <div class="col card" style="width: 20rem;margin-left: 50px !important; float:left;" *ngFor="let machine of displayedList">
                        <img src="../../assets/images/masque-oxygene.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Machine {{machine.saturation}}L</h5>
                          <p class="card-text">
                            <span>débit: {{machine.debit}}</span><br>
                            <span>Alimentaion: {{machine.alimentation}}</span><br>
                            <span>Fréquence: {{machine.frequency}}</span><br>
                            <span>Saturation: {{machine.saturation}}</span><br>
                            <span>Date d'achat: {{machine.purchaseDate | date: 'dd/MM/yyyy'}}  </span><br>
                            <span>Adresse: {{currentUser.address}} {{currentUser.city}} {{currentUser.country}} </span><br>
                            <span>Poids: {{machine.weight}}</span><br>
                        </p>
                          <button *ngIf="machine.ownerId != currentUserId" [disabled]="machine.booked" (click)="showModalBook(machine.id)" class="btn btn-primary"><i class="fas fa-calendar-alt"></i>Réserver</button>
                          <button *ngIf="machine.ownerId == currentUserId"  class="btn btn-primary" routerLink="/dashboard/machines/add"  [queryParams]="{editView: true, data: machine | json }"><i class="fas fa-edit"></i>Modifier details</button>
                          <button *ngIf="machine.ownerId == currentUserId" [disabled]="machine.booked"  class="btn btn-primary" style="width: 15px;" (click)="removeMachine(machine.id)"><i class="fas fa-trash-alt"></i></button>

                          <button   class="btn btn-primary" routerLink= "/dashboard/machines/history" [queryParams]="{idMachine: machine.id | json }"><i class="fas fa-history"></i>Voir historique</button>
                        </div>
                      </div>
                </div>
               <div *ngIf="noData==true" style="margin: 0 auto;">
                 <span style="text-align: center; font-size: 20px; color: black;">Aucune machine trouvée pour cette demande</span>
               </div>
              </div>
        
            </div>
          </section>
      </app-card>
    </div>
    </div>
    
      <p-dialog header="Voulez vous vraiment réserver cette machine ?" [(visible)]="showBookingDialog"   modal="true" baseZIndex="1050000" autoZIndex="true">
        <form #bookForm="ngForm"  *ngIf="!reservationOn">
            <!-- <div class="form-group">
              <label f>A partir de</label>
                <input [(ngModel)]="dateFrom" type="date" id="inputdateFrom" class="form-control" placeholder="yyyy-mm-dd" name="dateFrom" >
                
            </div> -->
            <div class="form-group">
                <label for="dateTo">jusqu'aù</label>
                    <input [(ngModel)]="dateTo" type="date" min="2021-07-31" id="inputdateTo" class="form-control" placeholder="yyyy-mm-dd" name="dateTo" >
                </div>

                <button style="float: right !important;" (click)="bookMachine()" icon="pi pi-info-circle" class="btn btn-primary">Confirmer</button>

          </form>
          <span *ngIf="reservationOn && !successBooking"> Oops! désolé vous ne pouvez pas réserver plus qu'une machine à la fois :( </span>
          <span *ngIf="reservationOn && successBooking"> Félicitations! vous allez recever un email contenat les coordonnées de contact du proprietaire</span>

    </p-dialog>

    <p-dialog  [(visible)]="showStatDialog" header="Statistiques des machines"  modal="true" baseZIndex="1050000" autoZIndex="true">
        <app-pie-chart-machine></app-pie-chart-machine>
              <button  style="float: right !important;" icon="pi pi-info-circle" (click)="closeStat()" class="btn btn-primary">close</button>

  </p-dialog>
