<div class="container machine-container">
    <div class="row" fxLayout="row wrap" style="padding: 0;">
        <!-- <div class="ui-g"> -->
        <div class="col-g-12 col-md-6 col-lg-2" style="margin-right: 5%;" fxFlex="12%">
            <mat-label  class="filter-label">
                Date d'achat
            </mat-label>
            <mat-form-field class="custom-form-field"  appearance="outline">
                <input class="custom-input-field"  matInput [matDatepicker]="picker2" [(ngModel)]="filter.date" (ngModelChange)="loadFilter()" placeholder="Date d'achat">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                </mat-datepicker-toggle>
                <mat-datepicker #picker2 ></mat-datepicker>
            </mat-form-field>
            <!-- <p-calendar [(ngModel)]="filter.date" (ngModelChange)="loadFilter()" [locale]="local" dateFormat="{{formatDate}}"
                placeholder="Bill generation date"  [showIcon]="true"></p-calendar> -->
        </div>
        <div class="col-g-12 col-md-6 col-lg-2" style="margin-right: 2%;" fxFlex="11%">
            <mat-label  class="filter-label">
                Fréquence
            </mat-label>
            <mat-form-field class="custom-form-field" appearance="outline">
                <input class="custom-input-field"[(ngModel)]="filter.frequence" (ngModelChange)="loadFilter()" matInput placeholder="Fréquence">
            </mat-form-field>
            <!-- <input type="text" placeholder="Contract id" ,feature:home,screen:primesWidget" pInputText [(ngModel)]="filter.title"
                (ngModelChange)="loadFilter()"  style="margin: 0;font-size: 1em" /> -->
        </div>
        <div class="col-md-6 col-lg-2" style="margin-right: 2%;" fxFlex="17%">
            <mat-label class="filter-label">
                Débit
            </mat-label>
            <mat-form-field class="custom-form-field" appearance="outline">
                <input class="custom-input-field" [(ngModel)]="filter.debit" (ngModelChange)="loadFilter()" matInput placeholder="Débit">
            </mat-form-field>
            <!-- <input type="text" placeholder="Insured",feature:home,screen:primesWidget" pInputText [(ngModel)]="filter.desc"
                (ngModelChange)="loadFilter()" style="margin: 0;font-size: 1em"/> -->
        </div>
        <div class="col-md-6 col-lg-2" style="margin-right: 2%;" fxFlex="22%">
            <mat-label  class="filter-label">
                Alimentaion
            </mat-label>
            <mat-form-field class="custom-form-field" appearance="outline">
                <input class="custom-input-field" [(ngModel)]="filter.alimentation" (ngModelChange)="loadFilter()" matInput  placeholder="Alimentaion">
            </mat-form-field>
            <!-- <input type="text" placeholder="Product" ,feature:home,screen:primesWidget" pInputText [(ngModel)]="filter.prod"
                (ngModelChange)="loadFilter()" style="margin: 0;font-size: 1em"/> -->
        </div>
        <div class="col-md-6 col-lg-2" style="margin-right: 2%;" fxFlex="18%">
            <mat-label  class="filter-label">
                Saturation
            </mat-label>
            <mat-form-field class="custom-form-field" appearance="outline">
                <input class="custom-input-field" matInput [(ngModel)]="filter.saturation" (ngModelChange)="loadFilter()"  placeholder="Saturation">
            </mat-form-field>
            <!-- <input type="text" placeholder="Email" ,feature:home,screen:primesWidget" pInputText [(ngModel)]="filter.mail"
                (ngModelChange)="loadFilter()" style="margin: 0;font-size: 1em" /> -->
        </div>


    </div>

    <div class="col-md-6 col-lg-2" style="margin-right: 2%; padding: 0; margin-top: 1%; ">
        <button class="btn-primary">Ajouter une machine</button>
    </div>

    <br><br>
        <!-- paginator -->
        <mat-paginator #paginator class="paginator"*ngIf="listeMachine && listeMachine.length > 0"
            [length]="filteredList.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)" (selectionChange)="onPageChange($event)">
        </mat-paginator>

   
    <div class="row">
            <mat-card *ngFor="let machine of displayedList"  class="col example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Machine {{machine.saturation}}L</mat-card-title>
                  <mat-card-subtitle>addresse owner</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <span>débit: {{machine.debit}}</span><br>
                  <span>Alimentaion: </span><br>
                  <span>Saturation: </span><br>

                </mat-card-content>
                <mat-card-actions>
                    <!-- <button class="myButton" mat-button>Modifier</button>
                  <button mat-button>Supprimer</button> -->
                  <button class="myPrimaryButton" mat-button>Réserver</button>
                  <button class="mySecondaryButton" mat-button>Voir historique</button>
                </mat-card-actions>
              </mat-card>
            </div>
</div>