
#listeMachine {
  //background: #eee !important;
  background: url('/../../assets/images/oxygene.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;

  margin-bottom: 50px;
  text-transform: uppercase;
}
.card-img-top{
  width: 120px;
  height: 120px;
  margin-left: 25%;
}
.example-card {
  max-width: 400px;
  margin-right: 2%;
  margin-bottom: 2%;
  min-width: 30%;
  max-width: 30%;
}
::ng-deep .p-dialog{
  margin: 15px;
background-color: #fff;
width: 750px;
border-radius: 2%;
}
::ng-deep .p-dialog-title{
  font-weight: bold;
 // height: 60px;
  margin: 15px

}
::ng-deep .p-dialog-content {
  margin: 15px
}
.card-title{
  font-weight: bold;
    font-size: 25px;
}



