
#listeMachine {
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0386c3;
  border-color: #037eb6;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #04a9f5;
    border-color: #04a9f5;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #04a9f5;

  margin-bottom: 50px;
  text-transform: uppercase;
}
.card-img-top{
  width: 120px;
  height: 120px;
  margin-left: 25%;
}
.example-card {
  max-width: 400px;
  margin-right: 2%;
  margin-bottom: 2%;
  min-width: 30%;
  max-width: 30%;
}
::ng-deep .p-dialog{
  margin: 15px;
background-color: #fff;
width: 750px;
border-radius: 2%;
border: solid #04a9f5;
position: relative;
z-index: 1005500;
}
::ng-deep .p-dialog-titlebar{
  font-weight: bold;
  color:#04a9f5  ;
 // height: 60px;
  margin: 15px

}
::ng-deep .p-dialog-content {
  margin: 15px
}
.card-title{
  font-weight: bold;
    font-size: 25px;
}



