<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="tr-job-posted section-padding">
    <div class="container">
		<div class="job-tab text-center">
			<!--ul class="nav nav-tabs justify-content-center" role="tablist">
				<li role="presentation" class="active">
					<a class="active show" href="#hot-jobs" aria-controls="hot-jobs" role="tab" data-toggle="tab" aria-selected="true">Hot Jobs</a>
				</li>
				<li role="presentation"><a href="#recent-jobs" aria-controls="recent-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">Recent Jobs</a></li>
				<li role="presentation"><a href="#popular-jobs" aria-controls="popular-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">Popular Jobs</a></li>
			</ul-->
			<div class="tab-content text-left">
				<div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
					<div >
						<div style="    width: 275px;    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);">
							<div class="job-item">
								<div class="item-overlay">
									<div class="job-info">
										<!--a href="#" class="btn btn-primary">Full Time</a>
										<span class="tr-title">
											<a href="#">Project Manager</a>
											<span><a href="#">Dig File</a></span>
										</span-->
										<!--ul class="tr-list job-meta">
											<li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
											<li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
											<li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
										</ul-->
										<ul class="job-social tr-list">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a (click)="previewLabo()"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
											<li><a (click)="updateLabo()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>										
								</div>
								<div class="job-info">
									<div class="company-logo">
										<img src="../../assets/imgs/labo1.jpg" alt="images" class="img-fluid">
									</div>
									<span class="tr-title">
										<a href="#">{{laboratoire.name}}</a>
										<span><a href="#">{{laboratoire.gouvernorat}}</a></span>
									</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-fax" aria-hidden="true"></i></span>{{laboratoire.fax}}</li>
										<li><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{laboratoire.phoneNumber}}</li>
										<li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{laboratoire.adresse}}</li>
									</ul>
									<div class="time">
										<a href="#"><span>Full Time</span></a>
										<span class="pull-right">{{laboratoire.updateDate}}</span>
									</div>																				
								</div>
							</div>
						</div>
					
						
					
						
					
					
					
					</div><!-- /.row -->
				</div><!-- /.tab-pane -->
				
			
			</div>				
		</div><!-- /.job-tab -->			
	</div><!-- /.container -->
</div>